<% layout('./layouts/boilerplate') %> 
<div class="container-fluid container-canvas text-center">
    <div class="row">
        <h3 class="d-none"><span id="username"><%= username %></span> in <span id="room"><%= room %></span></h3> <span id="admin" class="d-none"><%= owner %> </span>
        <h4 id="who-is-drawing"></h4>
        <div class="col-lg-2 col-md-5 col-sm-12 py-0 ms-1">
            <nav class="sidebar-sticky ">
                <div class="text-dark border border-primary border-3 mb-5 py-1">
                    <div class="mt-0">
                        <h6 class="text-dark border-bottom border-2">Users</h3>
                        <ul id="users" class="nav flex-column py-2 mt-1">
                        </ul>
                    </div>
                </div>
                <div class="text-dark border border-primary border-3 mb-5 py-1">
                    <div class="mt-0">
                        <h6 class="text-dark border-bottom border-2">Pick a word</h3>
                        <ul id="word-list" class="nav flex-column py-2 mt-1">
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="mt-2">
                <input type="color" class="form-control form-control-color mb-2" id="color-picker" value="#563d7c" title="Choose your color">
                <div>
                    <h6>Line width</h6>
                    <select id="select-line" class="form-select">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">5</option>
                        <option value="3">10</option>
                        <option value="3">20</option>
                    </select>  
                </div>
                <div class="input-group mt-3 col-sm-12 mb-3">
                    <input id="word-to-guess" type="text" class="form-control" placeholder="Enter word" aria-label="Enter word">
                    <button id="add-word" class="ml-3 btn btn-sm btn-dark">Add</button>
                </div>
                <a class="btn btn-sm btn-dark mt-5" id="download" download="drawing.png" href="" onclick="download_png(this);">Save</a>
                <button id="clear" class="btn btn-sm btn-dark mt-5">Clear</button>
                <button id="correct-guess" class="btn btn-sm btn-dark mt-5 d-none">Correct</button>
            </div>
        </div>
        
        <div class="col-lg-9 col-md-6 col-sm-12" style="overflow:scroll; max-width: 1000px; max-height: 600px;">
            <canvas id="canvas" class="border border-primary border-2 rounded canvas-drawing">

            </canvas>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/clientCharades.js"></script>