<% layout('./layouts/boilerplate') %> 
<div class="container-fluid container-canvas">
    <div class="row">
        <div class="col-lg-2">
            <input type="color" class="form-control form-control-color mb-2" id="color-picker" value="#563d7c" title="Choose your color">  
            <div>
                <h6>Line width</h6>
                <select id="select-line" class="form-select">
                    <option selected value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">20</option>
                </select>  
            </div>
            <button id="clear" class="btn btn-md btn-primary mt-5">Clear</button>
            <a class="btn btn-md btn-dark mt-5" id="download" download="drawing.png" href="" onclick="download_png(this);">Save</a>
        </div>
        <div class="col-lg-10">
            <canvas class="border border border-2 rounded canvas-drawing" id="canvas">

            </canvas>
        </div>
    </div>
</div>
<script src="/js/canvasDrawing.js"></script>