body {
    background-color: #bfd9dd;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}

.bg {
    /* The image used */
    background-image: url("/img/paint.jpg");
    opacity: 0.5;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 5%;
    font-size: 3rem;
    line-height: 1.5;
}

.conatainer-home {
    padding: 10% 20%;
}

.a-link {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 4%;
}

.a-link:hover {
    background-color: rgb(77, 148, 164);
    color: black;
}

.container-canvas {
    padding-top: 1%;
}

.canvas-drawing {
    background-color: white;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}